:root {
    --primary-green: #3DE07E;
    --dark-gray: #333333;
    --soft-black: #222222;
    --hard-black: #000000;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}